<%= stylesheet_link_tag "homepage" %>
<%= javascript_include_tag "homepage", "data-turbolinks-track" => true  %>
<% if current_user.admin? %>
    <h2> <%= link_to 'Manage Services', services_path%></h2>
<% end %>
<br>
<h2 class="section-header">ALL SERVICES</h2>
<br>
<div class="row row-cols-1 row-cols-md-6 g-4">
  <% @services.each do |service| %>
    <div class="col">
      <div class="card h-100">
        <img class="shop-item-image-link" src="https://portenoire.com/wp-content/uploads/2019/06/2019_06_12-Tips-for-Marketing-a-Salon-to-Men-and-Getting-More-Male-Clients-1200x628-1080x628.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title shop-item-title "><%=service.name%></h5>
            <p class="card-text"><%=service.description%></p>
            <h5 class="shop-item-price" > Price: <%= " " + service.price.to_s%> </h5>
            <button  class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
          </div>
      </div>
    </div>
  <%end%>
</div>
<br>
<br>
<section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">ITEM</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QTY</span>
    </div>
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">MAKE SALE</button>
</section>