<!DOCTYPE html>
<html>
  <head>
    <title>Najim Aldroob</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
   
  </head>

  <body>
  <nav class="navbar sticky-top p-3 mb-2 bg-info text-dark">
     <div class= "fs-4 fw-bold"> Najim Aldroob gents saloon </div>
     <h5><%= link_to 'Sign Out', destroy_user_session_path, method: :delete%></h5>
  </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
